---
import { siteConfig } from '@/data/site.config'
import FacebookBlogIcon from './icons/FacebookBlogIcon.astro'
import InstagramBlogIcon from './icons/InstagramBlogIcon.astro'
const message = siteConfig.shareMessage

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 font-bold text-2xl'>Comparte</span>
	<ul class='flex gap-3 text-black dark:text-white'>
		<li>
			<a
				href={`https://www.facebook.com/sharer/sharer.php?u=${message + ' ' + URL}`}
				aria-label='Comparte en Facebook'><FacebookBlogIcon /></a
			>
		</li>
		<li>
			<a href={`https://www.instagram.com/?url=${URL}`} aria-label='Comparte en Instagram'>
				<InstagramBlogIcon /></a
			>
		</li>
	</ul>
</div>
